<mat-card>
  <mat-card-header>
    <mat-card-title>Já é cadastrado?</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <form [formGroup]="loginForm" (ngSubmit)="checkLogin(this.loginForm.controls['email'].value, loginForm.controls['senha'].value)">
      <mat-form-field appearance="fill">
        <mat-label>E-mail</mat-label>
        <input matInput type="email" formControlName="email" />
      </mat-form-field>
      <mat-error *ngIf="isValidInput('email')">
        E-mail é obrigatório
      </mat-error>
      <br />
      <mat-form-field appearance="fill">
        <mat-label>Senha</mat-label>
        <input matInput type="password" formControlName="senha"/>
      </mat-form-field>
      <mat-error *ngIf="isValidInput('senha')">
        Senha é obrigatório
      </mat-error>
      <br>
      <button mat-raised-button color="primary" type="submit" class="button mr-2" [disabled]="!loginForm.valid">
        Entrar
      </button>
    </form>
    <br>
    <button mat-raised-button color="primary" class="button" (click)="resetForm()">
      Limpar
    </button>
  </mat-card-content>
</mat-card>
